body {
    background-color: #0d1117;
    color: white;
    margin: 0;
}

#navbar {
    background-color: #121821;
    position: sticky;
    top: 0;
    overflow: hidden;
    border-bottom: 1px solid #00a6bf;
    display: flex;
    align-items: center;
}

#navbar h1 {
    color: white;
    font-family: mono;
    padding-left: 10%;
}

#navbar h1 a {
    color: inherit;
    text-decoration: none;
}

#navbar h1 a:hover {
    color: #00a6bf;
}

#navbar-links {
    color: white;
    font-family: mono;
    padding-left: 50%;
}

#navbar-links a {
    color: inherit;
    text-decoration: none;
}

#content {
    text-align: center;
    padding-left: 20%;
    padding-right: 20%;
}
