/* TODO:
 * - font sizes
 * - when to use px vs. rem vs. percent?
 * - prettify contact form, make colors consistent
 * - make form fields scale nicely on zoom and mobile
 */

:root {
    --body-background: #0d1117;
    --navbar-background: #121821;
    --accent-color: #00a6bf;
}

html {
    font-size: 16px;
}

body {
    background-color: var(--body-background);
    color: white;
    margin: 0;
}

h2 {
    color: white;
    font-family: sans-serif;
    font-size: 2rem;
}

#navspace-left {
    flex: 1 1 0%;
}

#navspace-center {
    flex: 1 1 10%;
}

#navspace-right {
    flex: 1 1 0%;
}

#navbar {
    background-color: var(--navbar-background);
    border-bottom: 1px solid var(--accent-color);

    display: flex;
    align-items: center;

    height: 5rem;
    box-sizing: border-box;

    position: sticky;
    top: 0;
}

#navlinks {
    color: white;
    font-family: sans-serif;
    font-size: 1.25rem;

    display: flex;
    flex-wrap: wrap;
    gap: 2vw;
    align-items: center;
}

#site-heading {
    color: white;
    font-size: 1.75rem;
    font-family: "Zalando Sans Expanded", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}

#site-heading a {
    color: inherit;
    text-decoration: none;
}

#site-heading a:hover {
    color: var(--accent-color);
}

.navlink {
    color: inherit;
    text-decoration: none;
}

.navlink:hover {
    color: var(--accent-color);
}

#home-content {
    text-align: center;
    padding-left: 20%;
    padding-right: 20%;
}

#form-content {
    padding-left: 30%;
    padding-right: 30%;
}

form label {
    display: block;
    font-family: sans-serif;
    font-size: 1.25rem;
    margin-bottom: 1rem;
}

form input, textarea {
    font-family: sans-serif;
    font-size: 1rem;
    background-color: var(--navbar-background);
    color: white;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #b3b3b3;
    border-radius: 0;
    margin-top: 0.5rem;
}

form button {
    font-family: sans-serif;
    font-size: 1.25rem;
    background-color: var(--body-background);
    color: white;
    width: 100%;
    box-sizing: border-box;
    border-radius: 0;
    border: 1px solid white;
}

form button:hover {
    color: var(--accent-color);
    border-color: var(--accent-color);
    cursor: pointer;
}

textarea {
    resize: vertical;
    min-height: 10rem;
}

.required {
    color: red;
}
