/* TODO:
 * - font sizes
 * - when to use px vs. rem vs. percent?
 */

:root {
    --body-background: #0d1117;
    --navbar-background: #121821;
    --accent-color: #00a6bf;
}

body {
    background-color: var(--body-background);
    color: white;
    margin: 0;
}

#navbar {
    background-color: var(--navbar-background);
    border-bottom: 1px solid var(--accent-color);

    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 5rem;
    box-sizing: border-box;

    position: sticky;
    top: 0;
}

#navlinks {
    color: white;
    font-family: mono;

    width: 25%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-right: 10%;
}

#site-heading {
    color: white;
    font-family: mono;
    padding-left: 15%;
}

#site-heading a {
    color: inherit;
    text-decoration: none;
}

#site-heading a:hover {
    color: var(--accent-color);
}

.navlink {
    color: inherit;
    text-decoration: none;
}

.navlink:hover {
    color: var(--accent-color);
}

#content {
    text-align: center;
    padding-left: 20%;
    padding-right: 20%;
}
